name: reviewdog
on:
  pull_request:

jobs:
  test:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v1
        with:
          level: warning
          reporter: github-pr-review
