name: tests
on:
  push:
  pull_request:

jobs:
  test:
    name: run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - "1.21"
          - "1.20"
          - "1.19"
          - "1.18"
          - "1.17"
          - "1.16"
          - "1.15"
          - "1.14"
          - "1.13"

    steps:
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - run: go version

      - name: install lambda runtime interface emulator
        run: curl -L -o /usr/local/bin/aws-lambda-rie https://github.com/aws/aws-lambda-runtime-interface-emulator/releases/latest/download/aws-lambda-rie-x86_64
      - run: chmod +x /usr/local/bin/aws-lambda-rie

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Edit the go.mod file to allow tests to run for versions of go before 1.16
        run: if [[ ${{ matrix.go }} < "1.16" ]]; then sed -i.bak 's/^.*retract.*$//' go.mod; fi

      - name: go test
        run: go test -v -race ./...

  coverage:
    name: run tests with coverage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - "1.21"
    steps:
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: install lambda runtime interface emulator
        run: curl -L -o /usr/local/bin/aws-lambda-rie https://github.com/aws/aws-lambda-runtime-interface-emulator/releases/latest/download/aws-lambda-rie-x86_64
      - run: chmod +x /usr/local/bin/aws-lambda-rie

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: go test
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.txt
          env_vars: GO
        env:
          GO: ${{ matrix.go }}

