name: tests
on:
  push:
  pull_request:

jobs:
  test:
    name: run tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go:
          - "1.25"
          - "1.24"
          - "1.23"
          - "1.22"
          - "1.21"
          - "1.20"
          - "1.19"
          - "1.18"
          - "1.17"
          - "1.16"
          - "1.15"
          - "1.14"
          - "1.13"

    steps:
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - run: go version

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Edit the go.mod file to allow tests to run for versions of go before 1.16
        run: >
          if [[ ${{ matrix.go }} < "1.16" ]]; then 
            sed -i.bak 's/^.*retract.*$//' go.mod
          else
            echo "no edit required"
          fi

      - name: go test
        run: go test -v -race ./...

  coverage:
    name: run tests with coverage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - "1.25"
    steps:
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: go test
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.txt
          env_vars: GO
        env:
          GO: ${{ matrix.go }}

