name: tests
on: 
  push:
  pull_request:

jobs:

  test:
    name: run tests with code coverage 
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.16
        uses: actions/setup-go@v1
        with:
          go-version: 1.16
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: go test
        run: go test -race -coverprofile=coverage.txt -covermode=atomic ./...
      
      - name: Upload coverage to Codecov  
        uses: codecov/codecov-action@v1
        with:
         file: ./coverage.txt
